/*##############################################################################
#                                                                              #
#   ZURB Foundation                                                            #
#                                                                              #
##############################################################################*/

@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-menu;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;

@include motion-ui-transitions;
@include motion-ui-animations;

/*##############################################################################
#                                                                              #
#   Fonts                                                                      #
#                                                                              #
##############################################################################*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,latin-ext);

/*##############################################################################
#                                                                              #
#   Font Awesome                                                               #
#                                                                              #
##############################################################################*/

$fa-font-path: '../node_modules/font-awesome/fonts';
@import '../node_modules/font-awesome/scss/font-awesome';

/*##############################################################################
#                                                                              #
#   Styles                                                                     #
#                                                                              #
##############################################################################*/

main h1 {
  margin-top: rem-calc(15);
  &:first-child {
    margin-top: 0;
  }
}

select:focus {
  border: 1px solid $dark-gray;
  box-shadow: 0 0 5px $medium-gray;
  outline: none;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
}

ol {
  list-style-type: none;
}

table {
  & select {
    width: initial;
    margin-bottom: 0;
  }
  & .button, & p {
    margin-bottom: 0;
  }
}

.body-content-container {
  padding-top: rem-calc(15);
  padding-bottom: rem-calc(15);
}

.absolute-center {
  @include absolute-center;
}

.landing-page {
  background-color: $primary-color;
  h1 {
    color: $white;
  }
  &-logo {
    color: $white;
    font-size: rem-calc(80);
  }
  &-text {
    margin: rem-calc(24) auto rem-calc(30) auto;
  }
}

.btn-landing-page {
  @include button-style($white, $white, $button-color-alt);
  display: block;
  &:hover {
    box-shadow: 0 0 rem-calc(50) rgba(255, 255, 255, 0.3);
  }
}

.button.hollow {
  transition: none;
  &:hover,
  &:active,
  &:focus {
    border-color: $primary-color;
    background-color: $primary-color;
    color: $white;
  }
}

.top-bar-left,
.top-bar-right {
  width: initial;
}

.fa-success {
  color: green;
}

.fa-error {
  color: red;
}

@include mui-series {
  .landing-page-text { @include mui-queue(2s, -.8s, fade); }
  .btn-landing-page { @include mui-queue(.8s, 0, fade); }
}

@include breakpoint(medium) {
  .landing-page {
    &-logo {
      font-size: rem-calc(160);
    }
    &-text {
      margin: rem-calc(48) auto rem-calc(60) auto;
    }
  }

  .btn-landing-page {
    margin-right: rem-calc(16);
    display: inline;
  }
}

@include breakpoint(xlarge) {
  main h1 {
    margin-top: rem-calc(44);
  }

  .body-content-container {
    padding-top: rem-calc(60);
    padding-bottom: rem-calc(60);
  }
}