/*##############################################################################
#                                                                              #
#   ZURB Foundation                                                            #
#                                                                              #
##############################################################################*/

@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-menu;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;

@include motion-ui-transitions;
@include motion-ui-animations;

/*##############################################################################
#                                                                              #
#   Fonts                                                                      #
#                                                                              #
##############################################################################*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,latin-ext);

/*##############################################################################
#                                                                              #
#   Font Awesome                                                               #
#                                                                              #
##############################################################################*/

$fa-font-path: '../node_modules/font-awesome/fonts';
@import '../node_modules/font-awesome/scss/font-awesome';

/*##############################################################################
#                                                                              #
#   Styles                                                                     #
#                                                                              #
##############################################################################*/

.absolute-center {
  @include absolute-center;
}

.btn-landing-page {
  @include button-style($white, $white, $button-color-alt);
  margin-right: rem-calc(16);
  &:hover {
    box-shadow: 0 0 rem-calc(50) rgba(255, 255, 255, 0.3);
  }
}

#landing-page {
  &-text {
    margin: rem-calc(48) auto rem-calc(60) auto;
  }
  &-logo {
    font-size: rem-calc(160);
  }
}