<header class="top-bar">
  <div class="row">
    <div class="top-bar-left">
      <ul class="menu">
        <li class="menu-text">
          <a href="/students/">
            <span class="fa fa-graduation-cap"></span>&ensp;System rezerwacji tematów projektów
          </a>
        </li>
      </ul>
    </div>

    <div class="top-bar-right">
      <ul class="menu">
        <li>
          <a href="/">Wyloguj się&ensp;<span class="fa fa-power-off"></span></a>
        </li>
      </ul>
    </div>
  </div>
</header>