<header class="top-bar">
  <div class="row">
    <div class="top-bar-left">
      <ul class="menu">
        <li class="menu-text">
          <a href="/admin">
            <span class="fa fa-graduation-cap"></span>&ensp;<span class="hide-for-small-only">System rezerwacji tematów projektów</span><span class="show-for-small-only">System rezerwacji</span>
          </a>
        </li>
        <li>
          <a href="/admin/add"><span class="fa fa-plus"></span>&ensp;Dodaj</a>
        </li>
        <li>
          <a href="/admin/edit"><span class="fa fa-pencil"></span>&ensp;Edytuj</a>
        </li>
        <li>
          <a href="/admin/delete"><span class="fa fa-trash"></span>&ensp;Usuń</a>
        </li>
      </ul>
    </div>

    <div class="top-bar-right">
      <ul class="menu">
        <li>
          <a href="/">Wyloguj się&ensp;<span class="fa fa-power-off"></span></a>
        </li>
      </ul>
    </div>
  </div>
</header>