<header class="top-bar">
  <div class="row">
    <div class="top-bar-left">
      <ul class="menu">
        <li class="menu-text">
          <a href="/admin">
            <span class="fa fa-graduation-cap"></span>&ensp;<span class="show-for-large">System rezerwacji tematów projektów</span><span class="hide-for-large">SRTP</span>
          </a>
        </li>
        <li>
          <a href="/admin/add"><span class="fa fa-plus"></span><span class="hide-for-small-only">&ensp;Dodaj</span></a>
        </li>
        <li>
          <a href="/admin/edit"><span class="fa fa-pencil"></span><span class="hide-for-small-only">&ensp;Edytuj</span></a>
        </li>
        <li>
          <a href="/admin/delete"><span class="fa fa-trash"></span><span class="hide-for-small-only">&ensp;Usuń</span></a>
        </li>
        <li>
          <a href="/admin/rate"><span class="fa fa-star"></span><span class="hide-for-small-only">&ensp;Oceń</span></a>
        </li>
      </ul>
    </div>

    <div class="top-bar-right">
      <ul class="menu">
        <li>
          <a href="/"><span class="hide-for-small-only">Wyloguj&ensp;</span><span class="fa fa-power-off"></span></a>
        </li>
      </ul>
    </div>
  </div>
</header>